<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.birdflu.springcourse"/>
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

<!--    <bean id="musicBean" class="ru.birdflu.springcourse.ClassicalMusic"-->
<!--    init-method="doMyInit"-->
<!--    destroy-method="doMyDestroy"-->
<!--    factory-method="getClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer" class="ru.birdflu.springcourse.MusicPlayer" scope="prototype">-->

<!--        &lt;!&ndash;        <constructor-arg ref="musicBean"/>&ndash;&gt;-->

<!--        &lt;!&ndash;        <property name="musicList">&ndash;&gt;-->
<!--        &lt;!&ndash;            <list>&ndash;&gt;-->
<!--        &lt;!&ndash;                <ref bean="musicBeanClassical"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <ref bean="musicBeanRock"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <ref bean="musicBeanJazz"/>&ndash;&gt;-->
<!--        &lt;!&ndash;            </list>&ndash;&gt;-->
<!--        &lt;!&ndash;        </property>&ndash;&gt;-->
<!--        &lt;!&ndash;        &ndash;&gt;-->
<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="50"/>-->
<!--    </bean>-->

</beans>